/* Container
------------------------------------------------------ */

$wrap-max-width: 70em; // restricts width

.wrap {
  @include clear-fix();
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $wrap-max-width;
}